.projectsBlock {
    background-color: #aafcff;
}

.container {
    border: 1px solid;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.title {
    background-color: azure;
    height: 70px;
    width: 100%;
    text-align: center;
}



.projects {
    width: 100%;
    border: 1px solid;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

