.main {
    height: 100vh;
    background-color: antiquewhite;
    display: flex;
}

.text {
    width: 300px;
    background-color: aquamarine;
}

.photo {
    background-color: cadetblue;
    width: 300px;
    height: 400px;
}