.footer {
    background-color: darkgray;
    height: 200px;
}

.container {
    border: 1px solid;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}

.name {

}

.contacts {
border: 1px solid;
    display: flex;
    width: 500px;
    justify-content: space-between;
    flex-wrap: wrap;

}

.block1 {
    width: 60px;
    height: 60px;
    background-color: #605f5f;
}


@media (max-width: 480px) {
    .contacts {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .contacts {
        justify-content: space-evenly;
    }
}